// Primary color
$color-primary: #546e7a;
$color-primary-light: #819ca9;
$color-primary-dark: #29434e;

// Secondary color
$color-secondary: #0073c0;
$color-secondary-light: #58a0f2;
$color-secondary-dark: #00478e