// Primary color
$color-primary: #546e7a;
$color-primary-light: #819ca9;
$color-primary-dark: #29434e;

// Secondary color
$color-secondary: #2f3e9e;
$color-secondary-light: #6668d0;
$color-secondary-dark: #00186f